# dependencies
node_modules

#env files
.env
frontend/.env
backend/.env

# build files
dist
build

# uploads
uploads
backend/uploads

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# frontend build
frontend/dist

# backend build
backend/temp

#vscode
.vscode

# package locks optional
# package-lock.json