@import "tailwindcss";


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */


html {
  scroll-behavior: smooth;
}


body {
  background: #020617;
  color: white;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  background: #020617;
}


::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 999px;
}


::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

::selection {
  background: #6366f1;
  color: white;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: #111827 !important;
  transition: background-color 5000s ease-in-out 0s;
}